/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

input[type=button] {
  -moz-appearance: none;
  -webkit-appearance: none; }

a {
  color: inherit;
  text-decoration: none; }

img {
  width: 100%; }

.l-wrapper {
  padding: 30px;
  margin-bottom: 50px; }

.l-divider--mobile {
  display: block;
  width: 60%;
  height: 3px;
  margin: 20px auto; }

.l-align--right {
  text-align: right; }

.l-honeycomb__divider {
  width: 100%;
  height: 22px;
  position: relative; }

.l-divider__gradient {
  height: 100%;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0; }

@media (min-width: 650px) {
  .l-wrapper {
    max-width: 600px;
    margin: 0px auto 50px; }

  .l-divider--mobile {
    width: 45%; } }
@media (min-width: 800px) {
  .l-wrapper {
    max-width: none; } }
@media (min-width: 1024px) {
  .l-wrapper {
    margin-bottom: 80px; } }
.l-header--desktop {
  display: none; }

.l-logo--mobile {
  max-width: 280px;
  margin: 0px auto 55px; }

.l-navigation--mobile ul {
  text-align: center; }

.l-navigation--mobile ul li a {
  display: block;
  padding: 20px; }

.l-hero {
  text-align: center;
  margin: 100px 0px 100px; }

.l-navigation--mobile ul li a.l-button--shop {
  padding: 20px 25px 15px;
  margin-bottom: 15px; }

@media (min-width: 500px) {
  .l-navigation--mobile ul {
    max-width: 500px;
    margin: 0px auto; } }
@media (min-width: 650px) {
  .l-hero {
    margin: 100px 0px; } }
@media (min-width: 800px) {
  .l-hero {
    margin: 100px 0px 150px; } }
@media (min-width: 1024px) {
  .l-header--mobile {
    display: none; }

  .l-divider--mobile {
    display: none; }

  .l-header--desktop {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px; }

  .l-header--desktop ul li {
    display: inline-block;
    margin: 0px 5px; }

  .l-header--desktop ul li a {
    display: inline-block;
    padding: 20px 20px 10px;
    min-width: 100px; }

  .l-logo {
    max-width: 150px;
    margin: 0px 10px; }

  .l-header__links--left ul li a {
    text-align: left;
    padding-left: 5px; }

  .l-header__links--right ul li a {
    text-align: right;
    padding-right: 5px; } }
@media (min-width: 1200px) {
  .l-header--desktop ul li a {
    min-width: 120px; }

  .l-logo {
    max-width: 250px;
    margin: 0px 10px; } }
.l-content__block::before {
  display: block;
  width: 40%;
  height: 3px;
  margin: 125px auto 0px; }

.l-content__block h1 {
  margin: 40px 0px 80px; }

.content__block h2::after {
  height: 3px;
  max-width: 40px;
  margin: 20px auto;
  display: block; }

.l-content__paragraph img {
  display: block;
  margin: 20px auto;
  width: 70%; }

.l-content__paragraph p {
  margin-bottom: 20px; }

.l-content__love p {
  margin-bottom: 20px; }

.l-content__love img.l-content__image--left {
  float: left;
  max-width: 50px;
  margin-right: 15px;
  margin-bottom: 10px; }

.l-content__love img.l-content__image--right {
  float: right;
  max-width: 50px;
  margin-left: 15px;
  margin-bottom: 10px; }

.l-content {
  margin: 70px 0px; }

.l-content p {
  margin-bottom: 30px; }

@media (min-width: 450px) {
  .l-content__paragraph img.l-content__image--left {
    max-width: 150px;
    float: left;
    margin-right: 12px;
    margin-bottom: 12px; }

  .l-content__list {
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; } }
@media (min-width: 650px) {
  .l-content__block::before {
    width: 15%; } }
@media (min-width: 800px) {
  .l-content__block {
    max-width: 600px;
    margin: 0px auto; }

  .l-content {
    max-width: 600px;
    margin: 70px auto; } }
@media (min-width: 1024px) {
  .l-content {
    max-width: 800px; } }
.l-contact p {
  display: block;
  margin-bottom: 30px; }

.l-contact span {
  display: inline-block;
  width: calc(25% - 20px);
  margin-right: 20px; }

.l-contact input[type="text"],
.l-contact input[type="email"] {
  display: inline-block;
  width: calc(75% - 10px);
  margin-bottom: 32px;
  padding: 5px; }

.l-contact .l-message {
  display: block;
  margin-bottom: 50px; }

.l-contact textarea {
  display: block;
  width: 100%;
  resize: vertical; }

.l-contact__submit {
  display: block;
  margin: 40px auto 0px;
  padding: 10px 20px; }

@media (min-width: 800px) {
  .l-contact p {
    margin-bottom: 50px; }

  .l-contact form {
    max-width: 600px;
    margin: 80px auto 0px; }

  .l-contact__submit {
    margin-top: 60px; } }
.l-modal__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 100vw;
  min-height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  padding: 50px; }

.l-modal {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 100px);
  max-height: calc(100vh - 100px);
  min-width: 100%;
  padding: 50px;
  overflow: hidden;
  position: relative; }

.l-modal h1 {
  display: block;
  margin: 50px 0px; }

.l-modal img {
  display: block;
  margin: 0px auto;
  max-width: 70%; }

.l-modal__close {
  display: block;
  position: absolute;
  z-index: 6;
  top: 0;
  right: 0;
  padding: 40px;
  max-width: 150px; }

.l-modal__close img {
  display: block;
  max-width: 100%; }

.l-modal__content {
  overflow: auto;
  padding-bottom: 20px; }

.l-modal__description {
  overflow-y: auto;
  max-height: 100%; }

.l-buy--modal {
  display: block;
  margin: 80px 0px 30px; }

.l-buy--modal a {
  padding: 5px 40px 12px; }

.l-modal__wrapper {
  display: none; }

.l-cables img {
  width: 50%;
  max-width: 280px;
  margin: 0px auto;
  display: block; }

.float--left {
  float: left;
  margin: 5px 15px 10px 0px; }

.float--right {
  float: right;
  margin: 5px 0px 10px 15px; }

.l-cables h3 {
  margin: 40px 0px; }

.l-cables p {
  margin-bottom: 1em; }

.l-cables__option {
  margin-bottom: 30px; }

.l-product__wrapper {
  margin-top: 130px; }

.l-learn {
  display: block;
  margin: 100px 0px; }

.l-learn span {
  padding: 20px 30px; }

.l-cables__section {
  margin-top: 180px; }

.l-order p {
  display: block;
  margin-bottom: 30px; }

.l-order span {
  display: inline-block;
  width: calc(25% - 20px);
  margin-right: 20px; }

.l-order input[type="text"],
.l-order input[type="email"] {
  display: inline-block;
  width: calc(75% - 10px);
  margin-bottom: 32px;
  padding: 5px; }

.l-order .l-message {
  display: block;
  margin-bottom: 20px; }

.l-order textarea {
  display: block;
  width: 100%;
  resize: vertical; }

.l-order__submit {
  display: block;
  margin: 40px auto 0px;
  padding: 10px 20px; }

.l-order__specs {
  display: block; }

.l-order__specs select {
  display: inline-block;
  width: calc(75% - 10px);
  margin-bottom: 32px; }

span.l-label__longer {
  display: block;
  width: 100%;
  margin-bottom: 20px; }

.l-order .l-length__option span {
  width: 100%; }

.l-order__length {
  display: block; }

.l-length__option {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  position: relative; }

.l-order__sizes {
  margin-bottom: 32px; }

.l-length__option span::before,
.l-length__option span::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 100%; }

.l-length__option span.radio::before {
  left: 0;
  width: 45px;
  height: 25px; }

.l-length__option span.radio {
  padding-left: 55px;
  margin: 0; }

.l-length__option span.radio::after {
  left: 5px;
  width: 17px;
  height: 17px; }

.l-order__specs select {
  padding: 10px;
  min-width: 75%;
  width: auto; }

@media (min-width: 800px) {
  .l-order p {
    margin-bottom: 50px; }

  .l-order form {
    max-width: 600px;
    margin: 80px auto 0px; }

  .l-order__submit {
    margin-top: 60px; } }
.l-footer::before {
  position: relative;
  top: -6px;
  height: 20px; }

.l-footer {
  padding-bottom: 10px; }

.l-footer__socials {
  display: block;
  text-align: center;
  padding-top: 20px; }

.l-footer__socials a {
  display: inline-block;
  max-width: 100px;
  padding: 15px;
  margin-bottom: 20px; }

.l-footer__links a {
  display: block;
  padding: 10px 15px; }

@media (min-width: 650px) {
  .l-footer__content {
    display: -webkit-flex;
    display: flex;
    justify-content: space-between;
    align-items: center;
    -webkit-flex-direction: row-reverse;
    flex-direction: row-reverse;
    margin-bottom: 10px;
    padding: 0px 15px; }

  .l-footer__socials {
    display: -webkit-flex;
    display: flex;
    padding-top: 0px; }

  .l-footer__socials a {
    margin-bottom: 0px; }

  .l-footer__links a {
    display: inline-block;
    font-size: 12px; } }
@media (min-width: 800px) {
  .l-footer__content {
    padding: 0px 30px; } }
.l-thanks {
  flex-grow: 1;
  margin-top: 50px; }

.l-body--thanks {
  display: flex;
  flex-direction: column;
  min-height: 100vh; }

.l-wrapper--thanks {
  flex-grow: 1; }

.l-thanks h1 {
  margin-bottom: 30px; }

.l-thanks p {
  margin-bottom: 50px; }

.l-thanks a {
  display: inline-block;
  padding: 20px 30px;
  margin-bottom: 50px; }

@media (min-width: 1200px) {
  .l-logo--thanks img {
    max-width: 200px; } }
.l-error {
  flex-grow: 1;
  margin-top: 50px; }

.l-body--error {
  display: flex;
  flex-direction: column;
  min-height: 100vh; }

.l-wrapper--error {
  flex-grow: 1; }

.l-error h1 {
  margin-bottom: 60px; }

.l-error h2 {
  display: inline-block;
  padding: 0px 20px 30px;
  margin-bottom: 20px; }

.l-error a {
  display: inline-block;
  padding: 20px 30px;
  margin-bottom: 50px; }

@media (min-width: 1200px) {
  .l-logo--error img {
    max-width: 200px; } }
body {
  background-color: #282828; }

.divider--mobile {
  background-color: #f97a25; }

.honeycomb__divider {
  background-image: url("assets/images/Cerious/honeycomb_BG_Topper_white.png");
  background-repeat: repeat-x;
  background-size: 18px auto; }

.divider__gradient {
  background: #f2f2f2;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(top, rgba(18, 30, 46, 0), #121e2e 70%);
  /*Safari 5.1-6*/
  background: -o-linear-gradient(bottom, rgba(18, 30, 46, 0), #121e2e 70%);
  /*Opera 11.1-12*/
  background: -moz-linear-gradient(bottom, rgba(18, 30, 46, 0), #121e2e 70%);
  /*Fx 3.6-15*/
  background: linear-gradient(to bottom, rgba(18, 30, 46, 0), #121e2e 70%);
  /*Standard*/ }

.header--mobile {
  font-family: "Oswald", sans-serif;
  color: #f2f2f2;
  font-size: 48px;
  text-transform: uppercase; }

.hero {
  font-family: "Lato", sans-serif;
  font-size: 10vw;
  color: #f2f2f2;
  line-height: 1.5em; }

.hero p {
  font-size: 0.35em;
  line-height: 1.2em;
  -webkit-font-smoothing: antialiased; }

.button--shop {
  border: 1px solid #f97a25; }

.navigation--mobile ul li a {
  letter-spacing: 1px; }

@media (min-width: 650px) {
  .hero {
    font-size: 5.5vw; } }
@media (min-width: 800px) {
  .header--desktop {
    color: #f97a25;
    font-family: "Oswald", sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px; }

  .header--desktop ul li a {
    border-bottom: 1px solid #f97a25;
    transition: all 0.4s ease; }

  .header--desktop ul li a:hover {
    color: #f2f2f2;
    border-bottom: 1px solid #f2f2f2; }

  .hero {
    font-size: 50px; } }
@media (min-width: 1200px) {
  .hero {
    font-size: 60px; } }
.content__block::before {
  content: "";
  background-color: #f97a25; }

.content__block h1 {
  color: #f2f2f2;
  font-family: "Oswald", sans-serif;
  font-size: 72px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 1px; }

.content__block h2 {
  color: #f2f2f2;
  font-family: "Lato", sans-serif;
  font-size: 48px;
  text-align: center;
  letter-spacing: 1px;
  -webkit-font-smoothing: antialiased; }

.content__block h2::after {
  content: "";
  background-color: #f97a25; }

.content__paragraph p {
  color: #f2f2f2;
  font-family: "Lato", sans-serif;
  font-size: 1.1em;
  line-height: 1.4em;
  -webkit-font-smoothing: antialiased; }

.content__love {
  color: #f2f2f2;
  font-family: "Lato", sans-serif;
  font-size: 0.9em;
  line-height: 1.4em; }

.content p {
  color: #f2f2f2;
  font-family: "Lato", sans-serif;
  font-size: 1.2em;
  line-height: 1.3em; }

.contact {
  color: #f2f2f2;
  font-family: "Oswald", sans-serif;
  line-height: 1.2em;
  -webkit-font-smoothing: antialiased; }

.contact p {
  font-size: 40px;
  font-family: "Lato", sans-serif;
  line-height: 1.4em; }

.contact input[type="text"],
.contact input[type="email"],
.contact textarea {
  background-color: transparent;
  border: none;
  border-bottom: 3px dashed #f97a25;
  color: #f2f2f2;
  font-family: "Lato", sans-serif;
  font-size: 48px;
  line-height: 1em; }

.contact span {
  font-size: 48px; }

.contact textarea {
  line-height: 1.3em; }

.contact input[type="text"]:focus,
.contact input[type="email"]:focus,
.contact textarea:focus {
  outline: none;
  border-bottom: 3px solid #f97a25; }

.contact input[type="text"]::-webkit-input-placeholder,
.contact input[type="email"]::-webkit-input-placeholder,
.contact textarea::-webkit-input-placeholder {
  color: #656565; }

.contact input[type="text"]::-moz-placeholder,
.contact input[type="email"]::-moz-placeholder,
.contact textarea::-moz-placeholder {
  color: #656565; }

.contact input[type="text"]:-ms-input-placeholder,
.contact input[type="email"]:-ms-input-placeholder,
.contact textarea:-ms-input-placeholder {
  color: #656565; }

.contact input[type="text"]:-moz-placeholder,
.contact input[type="email"]:-moz-placeholder,
.contact textarea:-moz-placeholder {
  color: #656565; }

.contact__submit {
  -moz-appearance: none;
  -webkit-appearance: none;
  color: #f97a25;
  background-color: transparent;
  border: 3px solid #f97a25;
  font-size: 54px;
  font-family: "Lato", sans-serif;
  text-transform: uppercase; }

.contact__submit:focus {
  outline: none;
  border: none; }

@media (min-width: 800px) {
  .contact__submit {
    transition: all 0.2s ease; }

  .contact__submit:hover {
    color: #f2f2f2;
    border: 3px solid #f2f2f2;
    background-color: #f97a25; } }
.modal__wrapper {
  background-color: rgba(0, 0, 0, 0.4); }

.modal {
  background-color: #f2f2f2;
  color: #282828;
  font-family: "Lato", sans-serif;
  font-size: 40px;
  line-height: 1.3em; }

.modal h1 {
  font-family: "Oswald", sans-serif;
  text-align: center;
  font-size: 60px; }

.buy--modal {
  text-align: center; }

.buy--modal a {
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  color: #f97a25;
  border: 3px solid #f97a25;
  font-size: 70px; }

.cables {
  font-family: "Lato", sans-serif;
  color: #f2f2f2;
  -webkit-font-smoothing: antialiased;
  line-height: 1.3em; }

.cables h3 {
  font-family: "Oswald", sans-serif;
  font-size: 40px;
  text-align: center; }

.cables p {
  font-size: 24px;
  text-align: left;
  line-height: 2em;
  letter-spacing: 1px; }

strong {
  font-weight: bold; }

.learn {
  font-size: 40px;
  color: #f97a25;
  text-align: center;
  text-transform: uppercase; }

.learn span {
  border: 3px solid #f97a25; }

.order {
  color: #f2f2f2;
  font-family: "Oswald", sans-serif;
  font-size: 1.5em;
  line-height: 1.2em;
  -webkit-font-smoothing: antialiased; }

.order input[type="text"],
.order input[type="email"],
.order textarea {
  background-color: transparent;
  border: none;
  border-bottom: 3px dashed #f97a25;
  color: #f2f2f2;
  font-family: "Lato", sans-serif;
  font-size: 1em;
  line-height: 1em; }

.order textarea {
  line-height: 1.3em; }

.order input[type="text"]:focus,
.order input[type="email"]:focus,
.order textarea:focus {
  outline: none;
  border-bottom: 3px solid #f97a25; }

.order input[type="text"]::-webkit-input-placeholder,
.order input[type="email"]::-webkit-input-placeholder,
.order textarea::-webkit-input-placeholder {
  color: #656565; }

.order input[type="text"]::-moz-placeholder,
.order input[type="email"]::-moz-placeholder,
.order textarea::-moz-placeholder {
  color: #656565; }

.order input[type="text"]:-ms-input-placeholder,
.order input[type="email"]:-ms-input-placeholder,
.order textarea:-ms-input-placeholder {
  color: #656565; }

.order input[type="text"]:-moz-placeholder,
.order input[type="email"]:-moz-placeholder,
.order textarea:-moz-placeholder {
  color: #656565; }

.order__submit {
  -moz-appearance: none;
  -webkit-appearance: none;
  color: #f97a25;
  background-color: transparent;
  border: 3px solid #f97a25;
  font-size: 54px;
  font-family: "Lato", sans-serif;
  text-transform: uppercase; }

.order__submit:focus {
  outline: none;
  border: none; }

.order__sizes {
  font-size: 0.8em; }

.order input[type="radio"],
.order input[type="checkbox"] {
  display: none; }

.order span.radio:hover {
  cursor: pointer; }

.order .length__option span.radio::before {
  background-color: #474747;
  border-radius: 50px;
  border: 1px solid #151515;
  transition: all .25s ease; }

.order .length__option span.radio::after {
  border-radius: 10px;
  background-color: #151515;
  transition: left .25s, background-color .25s; }

.length__option input[type="radio"]:checked + label span.radio::after {
  left: 22px;
  background-color: #f97a25; }

.length__option input[type="radio"]:checked + label span.radio::before {
  border: 1px solid #f97a25; }

.order__specs select {
  -webkit-appearance: none;
  border-radius: 0px;
  border: 3px dashed #f97a25;
  border-left: none;
  border-right: none;
  background-color: transparent;
  color: #f2f2f2;
  font-family: "Oswald", sans-serif;
  font-size: 0.7em;
  letter-spacing: 0.5px;
  background-image: url("assets/images/dropdownArrows.png");
  background-repeat: no-repeat;
  background-position: 95% 50%;
  background-size: 12px auto; }

.order__specs select:focus {
  border: 3px solid #f97a25;
  outline: none; }

@media (min-width: 800px) {
  .order__submit {
    transition: all 0.2s ease; }

  .order__submit:hover {
    color: #f2f2f2;
    border: 1px solid #f2f2f2;
    background-color: #f97a25; } }
.footer::before {
  content: "";
  display: block;
  background-image: url("assets/images/Cerious/honeycomb_BG_white.png");
  background-repeat: repeat-x;
  background-size: 36px auto; }

.footer {
  background-color: #f2f2f2;
  color: #f97a25;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase; }

.footer__links {
  text-align: center; }

.footer__links a {
  font-size: 36px; }

@media (min-width: 800px) {
  .footer__links a {
    transition: color 0.3s ease; }

  .footer__links a:hover {
    color: #282828; } }
.thanks {
  text-align: center; }

.thanks h1 {
  color: #f2f2f2;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  font-size: 2em;
  line-height: 1.3em; }

.thanks p {
  color: #f2f2f2;
  font-family: "Lato", sans-serif;
  font-size: 1.2em;
  line-height: 1.3em; }

.thanks a {
  color: #f97a25;
  background-color: transparent;
  border: 1px solid #f97a25;
  font-size: 1.2em;
  line-height: 1.3em;
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
  transition: 0.3s all ease; }

.thanks a:focus {
  outline: none;
  border: none; }

@media (min-width: 1024px) {
  .thanks a:hover {
    color: #f2f2f2;
    border: 1px solid #f2f2f2;
    background-color: #f97a25; } }
.error {
  text-align: center; }

.error h1 {
  color: #f2f2f2;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  font-size: 2em;
  line-height: 1.3em; }

.error h2 {
  color: #f2f2f2;
  font-family: "Lato", sans-serif;
  -webkit-font-smoothing: antialiased;
  border-bottom: 1px solid #f97a25; }

.error a {
  color: #f97a25;
  background-color: transparent;
  border: 1px solid #f97a25;
  font-size: 1.2em;
  line-height: 1.3em;
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
  transition: 0.3s all ease; }

.error a:focus {
  outline: none;
  border: none; }

@media (min-width: 1024px) {
  .error a:hover {
    color: #f2f2f2;
    border: 1px solid #f2f2f2;
    background-color: #f97a25; } }

/*# sourceMappingURL=style.css.map */
