.content__block::before {
	content: "";
	background-color: $tertiary;
}

.content__block h1 {
	color: $secondary;
	font-family: $accent;
	font-size: 72px;
	text-transform: uppercase;
	text-align: center;
	letter-spacing: 1px;
}

.content__block h2 {
	color: $secondary;
	font-family: $main;
	font-size: 48px;
	text-align: center;
	letter-spacing: 1px;
	-webkit-font-smoothing: antialiased;
}

.content__block h2::after {
	content: "";
	background-color: $tertiary;
}

.content__paragraph p {
	color: $secondary;
	font-family: $main;
	font-size: 1.1em;
	line-height: 1.4em;
	-webkit-font-smoothing: antialiased;
}

.content__love {
	color: $secondary;
	font-family: $main;
	font-size: 0.9em;
	line-height: 1.4em;
}

.content p {
	color: $secondary;
	font-family: $main;
	font-size: 1.2em;
	line-height: 1.3em;
}


@media (min-width: 1024px){

	.content__block h1 {
		font-size: 44px;
	}

	.content__block h2 {
		font-size: 34px;
	}

	.content__paragraph p {
		font-size: 20px;
		line-height: 1.1em;
	}
}