.modal__wrapper {
	background-color: rgba(0, 0, 0, 0.4);
}

.modal {
	background-color: $secondary;
	color: $primary;
	font-family: $main;
	font-size: 40px;
	line-height: 1.3em;
}

.modal h1 {
	font-family: $accent;
	text-align: center;
	font-size: 60px;
}

.buy--modal {
	text-align: center;
}

.buy--modal td {
	text-align: left;
}

.buy--modal select {
	color: $primary;
	font-family: $main;
	font-size: 40px;
	border: 3px solid $primary;
	border-radius: 75px;
	-webkit-appearance: none;

	background-image: url("assets/images/Cerious/select-arrows-modal.png");
	background-position: calc(100% - 25px) 50%;
	background-repeat: no-repeat;
	background-size: auto 70%;
}


@media (min-width: 1024px){

	.buy--modal select {
		font-size: 16px;
		border: 1px solid $primary;

		background-position: calc(100% - 15px) 50%;
		background-repeat: no-repeat;
		background-size: auto 70%;
	}
}