.cables {
	font-family: $main;
	color: $secondary;
	-webkit-font-smoothing: antialiased;
	line-height: 1.3em;
}

.cables h3 {
	font-family: $accent;
	font-size: 1.2em;
}

.cables p {
	text-align: justify;
}

strong {
	font-weight: bold;
}