.cables {
	font-family: $main;
	color: $secondary;
	-webkit-font-smoothing: antialiased;
	line-height: 1.3em;
}

.cables h3 {
	font-family: $accent;
	font-size: 40px;
	text-align: center;
}

.cables p {
	font-size: 24px;
	text-align: left;
	line-height: 2em;
	letter-spacing: 1px;
}

strong {
	font-weight: bold;
}

.learn {
	font-size: 40px;
	color: $tertiary;
	text-align: center;
	text-transform: uppercase;
}

.learn span {
	border: 3px solid $tertiary;
}