.order__product {
	text-align: center;
}

.order__product h3 {
	color: $secondary;
	font-family: $accent;
	-webkit-font-smoothing: antialiased;
	font-size: 64px;
}

.order__product table {
	font-size: 48px;
	color: $secondary;
	font-family: $main;
}

.order__product select {
	font-size: 48px;
	color: $secondary;
	font-family: $main;
}

.order__product optgroup {
	font-size: 14px;
}