.l-modal__BG {
	display: none;
	min-width: 100vw;
	min-height: 100vh;
	position: fixed;
	z-index: 2;
	top: 0;
	left: 0;
}

.l-modal__wrapper {
	display: none;
	justify-content: center;
	align-items: center;
	min-width: 100vw;
	min-height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 5;
	padding: 50px;

	pointer-events: none;
}

.l-modal {
	display: flex;
	flex-direction: column;
	height: calc(100vh - 100px);
	max-height: calc(100vh - 100px);
	min-width: 100%;
	padding: 50px;
	overflow: hidden;
	position: relative;
	z-index: 12;
	pointer-events: auto;
}

.l-modal h1 {
	display: block;
	margin: 50px 0px;
}

.l-modal img {
	display: block;
	margin: 0px auto;
	max-width: 70%;
}

.l-modal__close {
	display: block;
	position: absolute;
	z-index: 15;
	top: 0;
	right: 0;
	padding: 40px;
	max-width: 150px;
	pointer-events: auto;
}

.l-modal__close img {
	display: block;
	max-width: 100%;
}

.l-modal__content {
	overflow: auto;
	padding-bottom: 20px;
}

.l-modal__description {
	overflow-y: scroll;
	max-height: 100%;
	pointer-events: none;
}

.l-modal__description p {
	margin-bottom: 1em;
}

.l-modal__description ul {
	margin-left: 60px;
	margin-top: 40px;
}

.l-modal__description ul li{
	margin-bottom: 20px;
}

.l-buy--modal {
	display: block;
	margin: 30px 0px 0px;
}

.l-buy--modal a {
	padding: 5px 40px 12px;
}

.l-modal__wrapper {
	display: none;
}

.l-buy--modal input[type="image"] {
	max-width: 50%;
	margin-top: 30px;
}

.l-buy--modal a {
	padding: 20px 30px;
}

.l-buy--modal table {
	border-collapse: separate;
	border-spacing: 20px 10px;
}

.l-buy--modal select {
	padding: 10px 60px 10px 20px;
}

.l-get__started {
	display: block;
	margin-top: 20px
}


@media (min-width: 1024px){

	.l-modal {
		max-width: 50%;
		min-width: 0px;
		padding: 50px 20px 20px;
	}

	.l-modal h1 {
		margin: 10px 0px 20px;
	}

	.l-modal__close {
		padding: 10px;
		max-width: 50px;
	}

	.l-modal img {
		max-width: 200px;
	}

	.l-modal__description {
		padding: 0px 20px;
		overflow-y: auto;
	}

	.l-modal__description p {
		margin-bottom: 20px;
	}

	.l-buy--modal {
		margin: 10px 0px 0px;
	}

	.l-buy--modal select {
		padding: 5px 50px 7px 20px;
	}

	.l-buy--modal table {
		border-spacing: 20px 0px;
	}

	.l-buy--modal td {
		line-height: 2em;
	}

	.l-buy--modal input[type="image"] {
		width: 40%;
		margin-top: 20px;
		max-width: 200px;
	}
}