.l-modal__wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	min-width: 100vw;
	min-height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 5;
	padding: 50px;
}

.l-modal {
	display: flex;
	flex-direction: column;
	height: calc(100vh - 100px);
	max-height: calc(100vh - 100px);
	min-width: 100%;
	padding: 50px;
	overflow: hidden;
	position: relative;
}

.l-modal h1 {
	display: block;
	margin: 50px 0px;
}

.l-modal img {
	display: block;
	margin: 0px auto;
	max-width: 70%;
}

.l-modal__close {
	display: block;
	position: absolute;
	z-index: 6;
	top: 0;
	right: 0;
	padding: 40px;
	max-width: 150px;
}

.l-modal__close img {
	display: block;
	max-width: 100%;
}

.l-modal__content {
	overflow: auto;
	padding-bottom: 20px;
}

.l-modal__description {
	overflow-y: scroll;
	max-height: 100%;
}

.l-buy--modal {
	display: block;
	margin: 80px 0px 30px;
}

.l-buy--modal a {
	padding: 5px 40px 12px;
}

.l-modal__wrapper {
	display: none;
}

.l-buy--modal input[type="image"] {
	max-width: 50%;
}