.l-cables img {
	max-width: 70px;
}

.float--left {
	float: left;
	margin: 5px 15px 10px 0px;
}

.float--right {
	float: right;
	margin: 5px 0px 10px 15px;
}

.l-cables h3 {
	margin-bottom: 10px;
}

.l-cables p {
	margin-bottom: 1em;
}

.l-cables__option {
	margin-bottom: 30px;
}