.l-cables img {
	width: 50%;
	max-width: 280px;
	margin: 0px auto;
	display: block;
}

.float--left {
	float: left;
	margin: 5px 15px 10px 0px;
}

.float--right {
	float: right;
	margin: 5px 0px 10px 15px;
}

.l-cables h3 {
	margin: 40px 0px;
}

.l-cables p {
	margin-bottom: 1em;
}

.l-cables__option {
	margin-bottom: 30px;
}

.l-product__wrapper {
	margin-top: 130px;
}

.l-learn {
	display: block;
	margin: 100px 0px;
}

.l-learn span {
	padding: 20px 30px;
}

.l-cables__section {
	margin-top: 180px;
}