.l-cables img {
	width: 50%;
	max-width: 280px;
	margin: 0px auto;
	display: block;
}

.float--left {
	float: left;
	margin: 5px 15px 10px 0px;
}

.float--right {
	float: right;
	margin: 5px 0px 10px 15px;
}

.l-cables h3 {
	margin: 40px 0px;
}

.l-cables p {
	margin-bottom: 1em;
}

.l-cables__option {
	margin-bottom: 30px;
}

.l-product__wrapper {
	margin-top: 130px;
}

.l-learn {
	display: block;
	margin: 100px 0px;
}

.l-learn span {
	padding: 20px 30px;
}

.l-cables__section {
	margin-top: 180px;
}


@media (min-width: 1024px){

	.l-cables {
		display: flex;
		flex-wrap: wrap;
	}

	.l-product__wrapper {
		margin: 40px 30px 40px;
		max-width: calc(50% - 60px);
	}

	.l-product {
		display: flex;
		flex-direction: column;
		min-height: 100%;
	}

	.l-cables h3 {
		margin: 20px 0px 30px;
	}

	.l-cables p {
		flex-grow: 1;
	}

	.l-learn {
		margin: 20px 0px;
	}

	.l-learn span {
		padding: 10px 20px;
	}
}