.l-order__product {
	display: block;
	margin-top: 100px;
}

.l-order__product h3 {
	margin: 40px 0px;
}

.l-order__product h4 {
	margin: 30px 0px 60px;
}

.l-order__product table {
	width: 100%;
}

.l-order__product select {
	padding: 15px 75px 15px 25px;
}

.l-order__product tr {
	display: block;
	margin: 30px 0px;
}

.l-order__product img {
	max-width: 50%;
	margin: 0px auto;
}

.l-order__product input[type="image"] {
	display: block;
	margin: 50px auto 0px;
	width: 70%;
}


@media (min-width: 1024px){

	.l-order {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}

	.l-order h2 {
		display: block;
		min-width: 100%;
	}

	.l-order__product h3 {
		margin: 40px 0px 10px;
	}

	.l-order__product h4 {
		margin: 0px 0px 30px;
	}

	.l-order__product {
		max-width: calc(50% - 60px);
		margin-top: 60px;
	}

	.l-order__product table {
		text-align: left;
	}

	.l-order__product tr {
		margin: 20px 0px 15px;
	}

	.l-order__product td {
		display: block;
	}

	.l-order__product select {
		padding: 10px 40px 10px 20px;
		min-width: 100%;
	}

	.l-order__product input[type="image"] {
		width: 50%;
		max-width: 200px;
		margin: 30px auto 0px;
	}
}