.l-preheader a {
	display: block;
	min-width: 100%;
	padding: 20px 30px 25px;
}


@media (min-width: 1024px){

	.l-preheader {
		position: absolute;
		top: 60px;
		left: -120px;
		width: 450px;
		transform: rotate(-45deg);
	}

	.l-preheader a {
		padding: 20px 125px;
	}
}